@model FYP.Web.ViewModels.StudentGroupViewModel

@{
    ViewData["Title"] = "Create";
    var month = DateTime.Now.Month;
    var year = DateTime.Now.Year;
    var batch = "";
    if (month > 2 && month < 6)
    {
        batch = "Spring " + (year + 1);
    }
    else
    {
        batch = "Fall " + year;

    }
}

<!-- BEGIN: Content-->
<div class="app-content content">
    <div class="content-overlay"></div>
    <div class="content-wrapper">
        <div class="content-header row">
        </div>
        <div class="content-body ">
            <section class="users-list-wrapper">
                <div class="users-list-filter px-1">
                    <!-- Section 1 -->
                    <div class=" ">
                        <div class="p-3 bg-white text-black rounded-lg customheightcard ">
                            
                            <!-- Column 1: -->
                            <div class="" style="min-height:100px">
                                <div class="w-full grid sm:grid-cols-1 lg:grid-cols-2 gap-4 ">
                                    <div class=" text-2xl font-bold">
                                        <h1>
                                            <i class="feather icon-arrow-left btn p-0 m-0" id="previousbtn" style="font-size:30px"></i>
                                            Create Groups
                                        </h1>
                                    </div>

                                </div>
                                <form class="form" id="submitform">
                                    <div class="modal-body">
                                        <div class="form-body">
                                            <div class="row d-flex justify-content-center">
                                                <div class="col-md-6 ">
                                                    <div class="form-group">
                                                        <input type="text" id="Batch" class="form-control name" placeholder="Batch" value="@batch" asp-for="Batch" name="Name" readonly>
                                                        <span asp-validation-for="Batch" class="text-danger"></span>
                                                    </div>
                                                    <input type="hidden" name="Year" id="Year" value="@year"/>
                                                    <div class="form-group">
                                                        <input type="text" id="groupName" class="form-control name" placeholder="Group Name" asp-for="Name" name="Name" value="@Model.Name" readonly required>
                                                        <span asp-validation-for="Name" class="text-danger"></span>

                                                    </div>
                                                    <div class="form-group">
                                                        <fieldset>
                                                            <div class="input-group">

                                                                <div class="input-group-prepend">
                                                                    <span class="input-group-text email1" id="basic-addon1"><i class="feather icon-mail"></i></span>
                                                                </div>
                                                                <input type="text" class="form-control" id="stu1" placeholder="Leader's Enrollment No" asp-for="student1LEmail" aria-describedby="basic-addon1" name="student1LEmail" required >


                                                            </div>
                                                            <span asp-validation-for="student1LEmail" class="text-danger"></span>
                                                        </fieldset>
                                                    </div>
                                                    <div class="form-group">
                                                        <fieldset>
                                                            <div class="input-group">
                                                                <div class="input-group-prepend">
                                                                    <span class="input-group-text email2" id="basic-addon2"><i class="feather icon-mail"></i></span>
                                                                </div>
                                                                <input type="text" class="form-control" id="stu2" placeholder="Member2 Enrollment No" aria-describedby="basic-addon2" asp-for="student2Email" name="student2Email" required >

                                                            </div>
                                                            <span asp-validation-for="student2Email" class="text-danger"></span>
                                                        </fieldset>
                                                    </div>
                                                    <div class="form-group">
                                                        <fieldset>
                                                            <div class="input-group">
                                                                <div class="input-group-prepend">
                                                                    <span class="input-group-text email3" id="basic-addon3"><i class="feather icon-mail"></i></span>
                                                                </div>
                                                                <input type="text" class="form-control" id="stu3" placeholder="Member3 Enrollment No" asp-for="student3Email" aria-describedby="basic-addon3" name="student3Email" required >

                                                            </div>
                                                            <span asp-validation-for="student3Email" class="text-danger"></span>
                                                        </fieldset>
                                                    </div>

                                                </div>
                                            </div>
                                        </div>


                                    </div>
                                    <div class="modal-footer">
                                        <button type="submit" class="btn btn-outline-primary " id="formsubmit">Create Group</button>
                                    </div>
                                </form>

                            </div>
                        </div>
                    </div>

                </div>
            </section>
        </div>
    </div>
</div>
<!-- END: Content-->
<!-- Modal -->
<script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
<script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>


<style>
    .arrow-container {
        position: relative;
        margin-bottom: 20px; /* Adjust as needed */
    }


    .noborder {
        border-color: white !important;
    }

    

    .colorchange {
        transition: color 0.3s ease;
        cursor: default;
    }

        .colorchange:hover {
            color: green;
            cursor: pointer;
        }

    .card-margin {
        margin-bottom: 1.875rem !important;
    }

    .card {
        border: 0 !important;
        box-shadow: 0px 0px 10px 0px rgba(82, 63, 105, 0.1) !important;
        -webkit-box-shadow: 0px 0px 10px 0px rgba(82, 63, 105, 0.1) !important;
        -moz-box-shadow: 0px 0px 10px 0px rgba(82, 63, 105, 0.1) !important;
        -ms-box-shadow: 0px 0px 10px 0px rgba(82, 63, 105, 0.1) !important;
        position: relative !important;
        display: flex !important;
        flex-direction: column !important;
        min-width: 0 !important;
        word-wrap: break-word !important;
        background-color: #ffffff !important;
        background-clip: border-box !important;
        border: 1px solid #e6e4e9 !important;
        border-radius: 8px !important;
    }

        .card .card-header.no-border {
            border: 0 !important;
        }

        .card .card-header {
            background: none !important;
            padding: 0 0.9375rem !important;
            font-weight: 500 !important;
            display: flex !important;
            align-items: center !important;
            min-height: 50px !important;
        }

    .card-header:first-child {
        border-radius: calc(8px - 1px) calc(8px - 1px) 0 0 !important;
    }


</style>
<script>
    $(document).ready(function () {
        $("#previousbtn").click(function () {
            $.ajax({
                url: '/studentgroups/studentgroups',
                type: "GET",
                success: function (response) {
                    $("#MainContainer").html(response);
                },
                error: function () {

                }
            });

        });

        // var $groupNameInput = $("#groupName");
        // var $stu1 = $("#stu1");
        // var $stu2 = $("#stu2");
        // var $stu3 = $("#stu3");

        // $groupNameInput.on("input", function () {
        //     var groupNameVal = $groupNameInput.val().trim();

        //     if (groupNameVal.length > 0) {
        //         // Enable the email fields
        //         $stu1.prop("readonly", false);
        //         $stu2.prop("readonly", false);
        //         $stu3.prop("readonly", false);
        //     } else {
        //         // Disable the email fields
        //         $stu1.prop("readonly", true);
        //         $stu2.prop("readonly", true);
        //         $stu3.prop("readonly", true);
        //     }
        // });
        $("#formsubmit").click(function (e) {
            $('#employeeModal').modal('hide');
            e.preventDefault();  // Prevent the default form submission
            var formData = {
                Name: $("#groupName").val(),
                student1LEmail: $("#stu1").val(),
                student2Email: $("#stu2").val(),
                student3Email: $("#stu3").val(),
                Batch: $("#Batch").val(),
                Year: $("#Year").val(),
            };
            $.ajax({
                type: "POST",
                url: "/studentgroups/StudentGroups",
                data: JSON.stringify(formData),
                contentType: "application/json; charset=utf-8",  // Sending JSON
                success: function (response) {

                    $("#MainContainer").html(response);
                },
                error: function (xhr) {
                    // Handle the error
                    console.log("Error: " + xhr.status + " - " + xhr.statusText);
                }
            });
        });

    });

</script>

