@model FYP.Web.ViewModels.RegisterViewModel


@{
    int counter = 0;
}

<!-- BEGIN: Content-->
<div class="app-content content">
    <div class="content-overlay"></div>
    <div class="content-wrapper">
        <div class="content-header row">
        </div>
        <div class="content-body ">
            <section class="users-list-wrapper">
                <div class="users-list-filter px-1">
                    <!-- Section 1 -->
                    <div class=" ">
                        <div class="p-3 bg-white text-black rounded-lg " style="height:80vh ; min-height:80vh">

                            <!-- Column 1: -->
                            <div class="" style="min-height:100px;">
                                <div class="w-full grid sm:grid-cols-1 lg:grid-cols-2 gap-4 ">
                                    <div class=" text-2xl font-bold">
                                        <h1>
                                            Change Password
                                        </h1>
                                    </div>

                                </div>
                                <form class="form" id="submitform">
                                    <div class="modal-body">
                                        <div class="form-body">
                                            <div class="row d-flex justify-content-center">
                                                <div class="col-12 col-lg-12 col-md-12 col-sm-12">



                                                    <div class="form-group">
                                                        <label>Name</label>
                                                        <fieldset>
                                                            <div class="input-group">
                                                                <div class="input-group-prepend">
                                                                    <span class="input-group-text" id="basic-addon3">
                                                                        <i class="fa fa-user" style="color: gray;"></i> <!-- User icon -->
                                                                    </span>
                                                                </div>
                                                                <input type="text" readonly class="form-control Names" id="Name" placeholder="Enter Name"
                                                                       value="@Model.Name" asp-for="Name" aria-describedby="basic-addon1" name="Name" required>
                                                            </div>
                                                        </fieldset>
                                                    </div>

                                                    <div class="form-group">
                                                        <label>Old Password</label>
                                                        <fieldset>
                                                            <div class="input-group">
                                                                <div class="input-group-prepend">
                                                                    <span class="input-group-text" id="basic-addon3">
                                                                        <i class="fa fa-lock" style="color: gray;"></i> <!-- Lock icon -->
                                                                    </span>
                                                                </div>
                                                                <input type="password" class="form-control oldPasswords" id="oldPassword" placeholder="Enter Old Password"
                                                                       value="@Model.oldPassword" asp-for="oldPassword" aria-describedby="basic-addon1" name="oldPassword" required>
                                                            </div>
                                                        </fieldset>
                                                    </div>

                                                    <div class="form-group">
                                                        <label>New Password</label>
                                                        <fieldset>
                                                            <div class="input-group">
                                                                <div class="input-group-prepend">
                                                                    <span class="input-group-text" id="basic-addon3">
                                                                        <i class="fa fa-key" style="color: gray;"></i> <!-- Key icon -->
                                                                    </span>
                                                                </div>
                                                                <input type="password" class="form-control Passwords" id="Password" placeholder="Enter New Password"
                                                                       value="@Model.Password" asp-for="Password" aria-describedby="basic-addon1" name="Password" required>
                                                            </div>
                                                        </fieldset>
                                                    </div>

                                                    <div class="form-group">
                                                        <label>Confirm Password</label>
                                                        <fieldset>
                                                            <div class="input-group">
                                                                <div class="input-group-prepend">
                                                                    <span class="input-group-text" id="basic-addon3">
                                                                        <i class="fa fa-check" style="color: gray;"></i> <!-- Check icon -->
                                                                    </span>
                                                                </div>
                                                                <input type="password" class="form-control ConfirmPasswords" id="ConfirmPassword"
                                                                       placeholder="Enter Confirm Password" value="@Model.ConfirmPassword"
                                                                       asp-for="ConfirmPassword" aria-describedby="basic-addon1" name="ConfirmPassword" required>
                                                            </div>
                                                        </fieldset>
                                                    </div>

                                                    
                                                  
                                                   


                                                </div>
                                            </div>
                                        </div>


                                    </div>
                                    <div class="modal-footer">
                                        <button type="submit" class="btn btn-outline-primary " id="formsubmit">Save</button>
                                    </div>
                                </form>
                                

                            </div>
                        </div>
                    </div>

                </div>
            </section>
        </div>
    </div>
</div>
<!-- END: Content-->
<!-- Modal -->
<script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
<script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>



<script>
    $(document).ready(function () {
        $(document).off('click', '#formsubmit').on('click', '#formsubmit', function (e) {
            e.preventDefault(); // Prevent default form submission

            // Get form field values
            var name = $(".Names").val(); // Name field value
            var old = $(".oldPasswords").val(); // Name field value
            var password = $(".Passwords").val(); // Password field value
            var confirmPassword = $(".ConfirmPasswords").val(); // Confirm Password field value

            // Clear previous error messages
            $(".error-message").remove();

            // Validate form fields
            var isValid = true;

            if (!name) {
                isValid = false;
                $("#Name").after('<div class="error-message" style="color: red; margin-top: 5px;">Name is required</div>');
            }
            if (!old) {
                isValid = false;
                $("#oldPassword").after('<div class="error-message" style="color: red; margin-top: 5px;">Old Password is required</div>');
            }
            if (!password) {
                isValid = false;
                $("#Password").after('<div class="error-message" style="color: red; margin-top: 5px;">New Password is required</div>');
            }
            if (!confirmPassword) {
                isValid = false;
                $("#ConfirmPassword").after('<div class="error-message" style="color: red; margin-top: 5px;">Confirm Password is required</div>');
            }
            if (password && confirmPassword && password !== confirmPassword) {
                isValid = false;
                $("#ConfirmPassword").after('<div class="error-message" style="color: red; margin-top: 5px;">Passwords do not match</div>');
            }


            // If all validations pass, proceed with AJAX submission
            if (isValid) {
                var formData = {
                    Name: name,
                    Password: password,
                    ConfirmPassword: confirmPassword,
                    oldPassword : old
                };

                $.ajax({
                    type: "POST",
                    url: "/user/ChangePassword", // Update URL as needed
                    data: JSON.stringify(formData),
                    contentType: "application/json; charset=utf-8", // Sending JSON
                    success: function (response) {
                        if (response.success) {
                            Swal.fire({
                                title: 'Successfully Updated!',        // Title of the modal
                                icon: 'success',                // Warning icon for alerts
                                confirmButtonText: 'OK',        // Text on the confirm button
                                customClass: {
                                    confirmButton: 'btn btn-success',  // Bootstrap class for the button
                                },
                                showCancelButton: false,        // Hides the cancel button
                                buttonsStyling: false,          // Disables default button styling
                            });
                        }else{
                            Swal.fire({
                                title: 'Not Updated Successfully!',        // Title of the modal
                                icon: 'warning',                // Warning icon for alerts
                                confirmButtonText: 'OK',        // Text on the confirm button
                                customClass: {
                                    confirmButton: 'btn btn-danger',  // Bootstrap class for the button
                                },
                                showCancelButton: false,        // Hides the cancel button
                                buttonsStyling: false,          // Disables default button styling
                            });
                        }
                    },
                    error: function (xhr) {
                        Swal.fire({
                            title: 'Error!',
                            text: 'An error occurred while submitting the form. Please try again.',
                            icon: 'error',
                            confirmButtonText: 'OK',
                            customClass: {
                                confirmButton: 'btn btn-danger',
                            },
                            buttonsStyling: false
                        });
                        console.error("Error: " + xhr.status + " - " + xhr.statusText);
                    }
                });
            }
        });
    });
</script>

